<%include header%>
<form action="/activate/confirm/email/<%=token%>/getStarted" method="POST" class="ui center aligned form" enctype="multipart/form-data">

    <div class="field">
    <label>US (+1) Phone Number <span class="reqSym">*</span></label>
        <div class="ui input left icon"><i class="ui phone icon"></i>
            <input required placeholder="(314) 159-2653" type="tel" name="phone" pattern="(1\s?)?((\([0-9]{3}\))|[0-9]{3})[\s\-]?[\0-9]{3}[\s\-]?[0-9]{4}"></div>
    </div>
  </div>
  <div class="fields">
    <div class="field">
        <label>Create your password <span class="reqSym">*</span></label>
        <div class="ui input left icon"><i class="ui lock icon"></i>
        <input placeholder="Create a strong password" required minlength="9" autocomplete="on" type="password" name="password"></div>
    </div>
    <div class="field">
        <label>Confirm your password <span class="reqSym">*</span></label>
        <div class="ui input left icon"><i class="ui key icon"></i>
        <input placeholder="Confirm your password" required type="password" autocomplete="on" name="passwordConfirmation"></div>
    </div>
  </div>
  </div>
  <div class="field profilePicture">
      <label>Upload your profile picture to help users identify you <span style="color: gray;">Optional</span></label>
      <span id="imageError" class="ui red tiny header"></span>

          <div class="ui input left icon"><i class="ui upload icon"></i>
          <input accept="image/x-png,image/gif,image/jpeg" required id="image"  type="file" name="profilePicture">
          </div>
          
  </div>
    <button class="ui center aligned animated blue button">
        <div class="visible content">Finish Sign Up!</div>
        <div class="hidden content">
            Finish Signup
        </div>
    </button>

    </div>
</form>

<br><br>
<%include footer%>
